.listItemWrapper {
  width: 100%;
  padding: 16px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #c0c0c0;
  .itemText {

  }
  .deleteBtn {
    opacity: 0;
  }
}