.listItemWrapper {
  width: 100%;
  padding: 16px;
  background-color: var(--background-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--border-color);;
  .itemText {

  }
  .deleteBtn {
    margin-left: auto;
    opacity: 0.2;
    transition: opacity .3s ease;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}