.checkboxWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 28px;
  height: 28px;
  background: linear-gradient(
          to right bottom,
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
  );
  cursor: pointer;
  margin-right: 16px;
  .iconWrapper {

  }
  .uncheckedWrapper {
    position: absolute;
    min-width: 26px;
    min-height: 26px;
    background-color: var(--background-color);
    border-radius: 100%;
  }
}