.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerTxt {
    font-size: 48px;
    font-weight: 700;
    color: var(--background-color);
  }
  .themeIconContainer{
    cursor: pointer;
    user-select: none;
  }
}