

.appWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
.bgWrapper {
  position: absolute;
  width: 100%;
  height: 40vh;
  top: 0;
  left: 0;
  background: url('./assets/images/bg-desktop-light.jpg') no-repeat top center;
  background-size: cover;
  z-index: -1;
}

.contentWrapper {
  width: 100%;
  padding: 5% 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dndTip {

}
