@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: white;
  --text-color: #262626;
  --border-color: #c0c0c0;
}

[data-theme='DARK'] {
  --background-color: #363636;
  --text-color: white;
  --border-color: #4f4f4f;
}

body {
  background-color: var(--background-color);
}